<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>

    <!-- DataTables -->
    <link href="assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="assets/rickshaw-chart/rickshaw.min.css">

</head>


<body onload="load(<%= dateList %>, '<%=serial%>')">
<!-- Aside Start-->
<aside class="left-panel">

    <!-- brand -->
    <div class="logo">
        <a href="/index" class="logo-expanded">
            <i class="ion-social-buffer"></i>
            <span class="nav-label">Plataforma MEC</span>
        </a>
    </div>
    <!-- / brand -->

    <!-- Navbar Start -->
    <nav class="navigation">
        <ul class="list-unstyled">
            <li class=""><a href="/index"><i class="ion-home"></i> <span class="nav-label">Inicio</span></a></li>
            <li class=""><a href="/network"><i class="ion-network"></i> <span class="nav-label">Redes</span></a></li>
            <li class=""><a href="/sensor"><i class="ion-disc"></i> <span class="nav-label">Sensores</span></a></li>
            <li class=""><a href="/alert"><i class="ion-android-alarm"></i> <span class="nav-label">Alertas</span></a></li>
            <li class=""><a href="/historical"><i class="ion-document-text"></i> <span class="nav-label">Histórico</span></a></li>
            <li class=""><a href="/settings"><i class="ion-settings"></i> <span class="nav-label">Configuración</span></a></li>
        </ul>
    </nav>

</aside>
<!-- Aside Ends-->


<!--Main Content Start -->
<section class="content">

    <% include ./partials/header %>

    <!-- Page Content Start -->
    <!-- ================== -->
    <div class="wraper container-fluid">
        <div class="page-title">
            <h3 class="title">Sensor <%= serial %></h3>
        </div>
        <div class="row">
            <div class="col-lg-6" >
                <div class="portlet" style="height: 400px;" id="portListDates">
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark">
                            Listado de archivos
                        </h3>
                        <div class="portlet-widgets">
                            <div style="float:left; margin-top: -10px;">
                                <h5 style="color: #797979; margin-right: 10px;">Filtrar por ejes:</h5>
                            </div>
                            <div style="float:left; margin-top: -10px; margin-right: 50px;">
                                <select class="form-control" id="filterAxis" onchange="reloadDataTable('<%=serial%>')">
                                    <option value="BH1, BH2, BHZ">Todos</option>
                                    <option value="BH1">BH1 (X)</option>
                                    <option value="BH2">BH2 (Y)</option>
                                    <option value="BHZ">BHZ (Z)</option>
                                </select>
                            </div>
                            <span class="divider"></span>
                            <a onclick="reloadDataTable('<%=serial%>');" data-toggle="reload"><i class="ion-refresh"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portlet-body">
                        <table id="tableDateList" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th class="col-lg-1"></th>
                                    <th class="col-lg-8">Fecha</th>
                                    <th class="col-lg-3"># archivos</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--  Grafica -->
            <div class="col-lg-6">
                <div class="portlet"><!-- /primary heading -->
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark" id="titleGraphicDetail">
                            Detalles grafica
                        </h3>
                        <div class="portlet-widgets">
                            <a data-toggle="reload"><i class="ion-refresh"></i></a>
                            <span class="divider"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Detalles archivo</h4>
                                    </div>
                                    <div class="panel-body">
                                        <table border="0" cellspacing="0">
                                            <tr>
                                                <th class="col-lg-4">Fecha:</th>
                                                <td class="col-lg-3">2017-03-30</td>
                                                <th class="col-lg-3">Hora:</th>
                                                <td class="col-lg-2">01:00:00</td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-4">Eje:</th>
                                                <td class="col-lg-3">BH1 (X)</td>
                                                <th class="col-lg-3">Tasa muestreo:</th>
                                                <td class="col-lg-2">200 sps</td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-4"># Muestras archivo:</th>
                                                <td class="col-lg-3">720.000 m</td>
                                                <th class="col-lg-3">Duración:</th>
                                                <td class="col-lg-2">1 Hora</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <!--<div class="col-lg-11 col-lg-offset-1">
                                <div id="chart_container">
                                    <div id="y_axis"></div>
                                    <div id="chartPcpal"></div>
                                    <div id="preview"></div>
                                </div>
                            </div>-->
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Generar grafico</h4>
                                    </div>
                                    <div class="panel-body">
                                        <table border="0" cellspacing="0">
                                            <tr>
                                                <th colspan="4">Tiempo inicial:</th>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-6" colspan="2">Minutos:</th>
                                                <th class="col-lg-6" colspan="2">Segundos:</th>
                                            </tr>
                                            <tr>
                                                <td rowspan="2" style="vertical-align: middle;"><input type="number" min="0" max="60" step="1" value="0"/></td>
                                                <td>
                                                    <select>
                                                        <option value="1">1</option>
                                                        <option value="1">5</option>
                                                        <option value="1">10</option>
                                                    </select>
                                                </td>
                                                <td rowspan="2" style="vertical-align: middle;"><input type="number" min="0" max="60" step="1"/></td>
                                                <td>
                                                    <select>
                                                        <option value="1">1</option>
                                                        <option value="1">5</option>
                                                        <option value="1">10</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Pasos</td>
                                                <td>Pasos</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /Portlet -->
            </div>
        </div><!--row-->
        <button id="btndrt" type="button" class="btn btn-inverse" onclick="displayGrphicRT()">Grafica en tiempo real</button>
        <div class="row" id="graphicRT">
            <div class="col-lg-12" >
                <div  class="portlet">
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark">
                            Grafica en tiempo real
                        </h3>
                        <div class="portlet-widgets">
                            <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                            <span class="divider"></span>
                            <a href="#" id="close_grt"><i class="ion-close-round"></i></a>
                            <span class="divider"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portlet-body">
                        <div id="linetoggle2"></div>
                    </div>
                </div>
            </div>
        </div><!--row-->
    </div>

    <!-- Page Content Ends -->
    <!-- ================== -->
    <!-- Footer Start -->
    <footer class="footer">
        2016 © Plataforma MEC.
    </footer>
    <!-- Footer Ends -->
</section>
<!-- Main Content Ends -->

<% include ./partials/scripts %>

<!-- Datatables-->
<script src="assets/datatables/jquery.dataTables.min.js"></script>
<script src="assets/datatables/dataTables.bootstrap.js"></script>
<script src="assets/datatables/dataTables.buttons.min.js"></script>
<script src="assets/datatables/buttons.bootstrap.min.js"></script>
<script src="assets/datatables/jszip.min.js"></script>
<script src="assets/datatables/pdfmake.min.js"></script>
<script src="assets/datatables/vfs_fonts.js"></script>
<script src="assets/datatables/buttons.html5.min.js"></script>
<script src="assets/datatables/buttons.print.min.js"></script>
<script src="assets/datatables/dataTables.fixedHeader.min.js"></script>
<script src="assets/datatables/dataTables.keyTable.min.js"></script>
<script src="assets/datatables/dataTables.responsive.min.js"></script>
<script src="assets/datatables/responsive.bootstrap.min.js"></script>
<script src="assets/datatables/dataTables.scroller.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>
    jQuery.noConflict();
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
<script>jQuery.noConflict();</script>
<script type="text/javascript" src="assets/spinner/spinner.min.js"></script>
<script>jQuery.noConflict();</script>
<script src="assets/rickshaw-chart/vendor/d3.min.js"></script>
<script src="assets/rickshaw-chart/vendor/d3.layout.min.js"></script>
<script src="assets/rickshaw-chart/rickshaw.min.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Class.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Compat.ClassList.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Renderer.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Renderer.Area.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Renderer.Line.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Renderer.Bar.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Renderer.ScatterPlot.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Renderer.Stack.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.RangeSlider.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.RangeSlider.Preview.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.HoverDetail.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Annotate.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Legend.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Axis.Time.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Behavior.Series.Toggle.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Behavior.Series.Order.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Behavior.Series.Highlight.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Smoother.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Fixtures.Time.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Fixtures.Time.Local.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Fixtures.Number.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Fixtures.RandomData.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Fixtures.Color.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Color.Palette.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Axis.Y.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="js/functions/graphic.js"></script>

</body>
</html>