<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>


<body onload="getLocations('<%= user %>')">
  <!-- Aside Start-->
  <aside class="left-panel">

    <!-- brand -->
    <div class="logo">
      <a href="/index" class="logo-expanded">
        <i class="ion-social-buffer"></i>
        <span class="nav-label">Plataforma MEC</span>
      </a>
    </div>
    <!-- / brand -->

    <!-- Navbar Start -->
    <nav class="navigation">
      <ul class="list-unstyled">
        <li class="active"><a href="/index"><i class="ion-home"></i> <span class="nav-label">Inicio</span></a></li>
        <li class=""><a href="/network"><i class="ion-network"></i> <span class="nav-label">Redes</span></a></li>
        <li class=""><a href="/sensor"><i class="ion-disc"></i> <span class="nav-label">Sensores</span></a></li>
        <li class=""><a href="/alert"><i class="ion-android-alarm"></i> <span class="nav-label">Alertas</span></a></li>
        <li class=""><a href="/notification"><i class="fa fa-bell-o"></i> <span class="nav-label">Notificaciones</span></a></li>
        <li class=""><a href="/historical"><i class="ion-document-text"></i> <span class="nav-label">Histórico</span></a></li>
        <li class=""><a href="/settings"><i class="ion-settings"></i> <span class="nav-label">Configuración</span></a></li>
      </ul>
    </nav>

  </aside>
  <!-- Aside Ends-->


<!--Main Content Start -->
<section class="content">

  <% include ./partials/header %>

  <!-- Page Content Start -->
  <!-- ================== -->
  <div class="wraper container-fluid">
    <div class="page-title">
      <h3 class="title">Inicio</h3>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 bg-inverse">
          <i class="ion-network"></i>
          <h2 class="m-0 counter"><%= networks %></h2>
          <div><a href="/network" style="color: #fff;">Redes</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 bg-inverse">
          <i class="ion-disc"></i>
          <h2 class="m-0 counter"><%= sensors %></h2>
          <div><a href="/sensor" style="color: #fff;">Sensores</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 bg-inverse">
          <i class="ion-android-alarm"></i>
          <h2 class="m-0 counter"><%= alerts %></h2>
          <div><a href="/alert" style="color: #fff;">Alertas</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 bg-inverse">
          <i class="ion-alert-circled"></i>
          <h2 class="m-0 counter"><%= errors %></h2>
          <div><a href="" style="color: #fff;">Errores</a></div>
        </div>
      </div>
    </div> <!-- End row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="portlet">
          <div class="portlet-heading">
            <h3 class="portlet-title text-dark">
              Ubicación sensores
            </h3>
            <div class="portlet-widgets">
              <a href="javascript:reloadMap('<%= user %>');" data-toggle="reload"><i class="ion-refresh"></i></a>
              <span class="divider"></span>
              <a data-toggle="collapse" data-parent="#accordion1" href="#bg-mapLocation"><i class="ion-minus-round"></i></a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div id="bg-mapLocation" class="panel-collapse collapse in">
            <div class="portlet-body">
              <div id="map" class="gmaps"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page Content Ends -->
  <!-- ================== -->
  <!-- Footer Start -->
  <footer class="footer">
    2016 © Plataforma MEC.
  </footer>
  <!-- Footer Ends -->
</section>
<!-- Main Content Ends -->


  <% include ./partials/scripts %>
  <!-- google maps api -->
  <script src="https://maps.google.com/maps/api/js?key=AIzaSyBVnSiwx9InYdvET3_M4yU2qTyvUSOmVI0&callback=initMap"></script>

</body>
</html>
